@page
@model IndexModel
@{

}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>Macro Nutrient Calculator</h1>
            <p>Start your adventure towards better health today.</p>
        </header>
        <a href="#main" class="button big scrolly">Learn More</a>
    </div>
</section>

<div id="main" class="container">
    <!-- Content -->
    <h2></h2>
    <p></p>

    <!-- MacroNutrient Calculator -->
        <h1>Macro Nutrient Calculator</h1>
        <label for="gender">Gender:</label>
        <select id="gender" required>
            <option value="0">Male</option>
            <option value="1">Female</option>
        </select>
        <br>
        <label for="age">Age:</label>
        <input type="text" id="age" required>
        <br>
        <label for="bodyWeight">Body Weight (lbs):</label>
        <input type="text" id="bodyWeight" required>
        <br>
        <label for="heightFeetTall">Height (Feet):</label>
        <input type="text" id="heightFeetTall" required>
        <br>
        <label for="heightInchesTall">Height (Inches):</label>
        <input type="text" id="heightInchesTall">
        <br>
        <label for="carbPercentage">Carb Percentage (Recommendation: 45%–65%):</label>
        <input type="text" id="carbPercentage">
        <br>
        <label for="fatPercentage">Fat Percentage (Recommendation 20%–35%) :</label>
        <input type="text" id="fatPercentage">
        <br>
        <label for="proteinPercentage">Protein Percentage (Recommendation 10%–35%):</label>
        <input type="text" id="proteinPercentage">
        <br>
        <label for="activityFrequency">Activity Frequency:</label>
        <select id="activityFrequency" required>
            <option value="0">Limited exercise</option>
            <option value="1">Light exercise less than 3 days per week</option>
            <option value="2">Moderate exercise most days of the week</option>
            <option value="3">Hard exercise every day</option>
            <option value="4">Strenuous exercise two or more times per day</option>
        </select>
        <br>
        <button id="calculateBtn">Calculate</button>
        <br>
        <div id="result"></div>
 
        <!-- Rest of MacroNutrient Calculator HTML -->
    </div>

    <div class="row">
    </div>
</div>

@section Script {
    <script src="~/js/site.js"></script>
}
