@page
@model IndexModel
@{

}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>This is Urban</h1>
            <p>Aliquam libero augue varius non odio nec faucibus congue felis quisque a diam rutrum tempus massa accumsan faucibus purus.</p>
        </header>
        <a href="#main" class="button big scrolly">Learn More</a>
    </div>
</section>

<div id="main" class="container">
    <!-- Content -->
    <h2>Elements</h2>
    <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing adipiscing.</p>

    <!-- MacroNutrient Calculator -->
    <div class="container">
        <h1>MacroNutrient Calculator</h1>
        <label for="gender">Gender:</label>
        <select id="gender" required>
            <option value="0">Male</option>
            <option value="1">Female</option>
        </select>
        <br>
        <!-- Rest of MacroNutrient Calculator HTML -->
    </div>

    <div class="row">
    </div>
</div>

@section Script {
    <script src="~/js/site.js"></script>
}
