@page
@model IndexModel
@{
    ViewData["Title"] = "Macronutrient Calculator Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Macronutrient Calculator</h1>
    <p>Transform your nutrition and optimize your fitness journey with our macronutrient calculator.</p>
    <p>Calculate your personalized macronutrient goals and take control of your diet.</p>
</div>
