@page
@model IndexModel
@{
    ViewData["Title"] = "Macronutrient Calculator Home";
}

<div id="main">

    <section id="banner">
        <div class="inner">
            <header>
                <h1>This is Urban</h1>
                <p>Aliquam libero augue varius non odio nec faucibus congue<br>felis quisque a diam rutrum tempus massa accumsan faucibus purus.</p>
            </header>
            <a href="#main" class="button big scrolly">Learn More</a>
        </div>
    </section>
</div>
