@page
@model IndexModel
@{
    ViewData["Title"] = "Macronutrient Calculator Home";
}

<div id="main">

    <section id="banner">
        <div class="inner">
            <header>
                <h1>Macro Nutrient Calculator</h1>
                <p>Start your adventure towards better health today.</p>
            </header>
            <a href="#main" class="button big scrolly">Learn More</a>
        </div>
    </section>
</div>
