<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

    <!-- Header -->
    <header id="header" class="alt">
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="https://localhost:44373/">Home</a></li>
            <li><a href="https://localhost:44373/Generic">Generic</a></li>
            <li><a href="https://localhost:44373/Elements">Elements</a></li>
        </ul>
    </nav>

    @RenderBody()

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
        </div>
    </footer>
    <div class="copyright">
        Site Created By Garrett and using <a href="https://templated.co/">TEMPLATED.CO</a>
    </div>

    <!-- Scripts -->
    @RenderSection("Script", required: false)
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
