@page
@model MacroNutrientCalculatorModel
@{
    ViewData["Title"] = "MacroNutrientCalculator";
}

<div class="text-center">
    <h1 class="display-4">This is the calculator page.</h1>
    <p> Thank ya for visiting</p>
</div>
